@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

html {
      font-family: 'Roboto', sans-serif;
}

body {
      background-color: #FCFDFC;
}

li {
      list-style: none;
}

a {
      text-decoration: none;
}

.header {
      background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
      position: sticky;
      position: -webkit-sticky;
      top: 0;

}

.container {
      max-width: 1300px;
      margin: auto;
      padding-left: 50px;
      padding-right: 50px;
      height: 95vh;
}

header .row {
      margin-top: 350px;
}

.row {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-between;
}

.col-2 {
      flex-basis: 50%;
      min-width: 300px;
      color: #407287;
}

.col-2 h1 {
      font-size: 50px;
      line-height: 60px;
      margin: 25px;
      font-weight: 400;
}

p {
      display: block;
      margin: 25px;
}

.btn {
      display: inline-block;
      background-color: #bfaa31;
      color: #000000;
      padding: 8px 30px;
      margin: 30px;
      border-radius: 20px;
      transition: background 0.5s;
      font-size: 18px;
}

.btn:hover {
      background-color: #df8b36;
}

.navbar {
      display: flex;
      margin: 0 auto;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 1.5rem;
      max-width: 1300px;
}

.nav-logo:hover {
      color: #df8b36;
}

.hamburger {
      display: none;
}

.bar {
      display: block;
      width: 25px;
      height: 3px;
      margin: 5px auto;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      background-color: #101010;
}

.nav-menu {
      display: flex;
      align-items: center;
}

.nav-item {
      margin-left: 2rem;
}

.nav-link:hover {
      transition: color 0.5s;
      color: #df8b36;
}

.nav-link {
      font-size: 1.6rem;
      font-weight: 400;
      color: #bfaa31;
      padding: 10px;
}

.nav-logo {
      font-size: 2.1rem;
      font-weight: 500;
      color: #bfaa31;
      transition: color 0.5s;
}


main {
      background-color: #ffff;
}

img {
      width: 100%;

}

section {
      display: flex;
      gap: 40px;
      margin: 40px;
}

.card {
      height: calc(100vh - 152px);
      justify-content: center;
}

.card-info {
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      border-radius: 5px;
      padding: 20px;
      width: 40vh;
}

/* Mobile View */
@media only screen and (max-width: 950px) {
      .nav-menu {
            position: absolute;
            top: 0px;
            left: -100%;
            background-color: #ffffff;
            transition: 0.3s;
            box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
            flex-direction: column;
            width: 80%;
            height: 100vh;
      }

      .nav-menu.active {
            left: 0;
            top: 0;
            height: 100vh;
      }

      .nav-item {
            margin: 1rem 0;
            column-gap: 40px;
      }

      .hamburger {
            display: block;
            cursor: pointer;
      }

      .hamburger.active .bar:nth-child(2) {
            opacity: 0;
      }

      .hamburger.active .bar:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
      }

      .hamburger.active .bar:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
      }

      .card {
            margin: 0 auto;
            /* min-width: 50%; */
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 40px;

      }

      .card-info {
            width: 80vw;
            flex-grow: 1;

      }
}